<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>
<h2>Login</h2>
<div th:if="${error}" style="color: red;">
  <p th:text="${error}"></p>
</div>
<form action="/login" method="post">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br><br>

  <input type="submit" value="Login">
</form>
<br>
<button onclick="window.location.href='/recoverPasswordPage'">Recover Password</button>
<br>
<p>Don't have an account?</p>
<button onclick="window.location.href='/createAccountPage'">Create Account</button>
<button onclick="window.location.href='/home'">Home</button>
</body>
</html>