<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Main Page</title>
    <style>
        .username {
            position: absolute;
            top: 0px;
            right: 10px;
        }

        .config-button {
            position: absolute;
            top: 60px;
            right: 10px;
        }

        .logout-button {
            position: absolute;
            top: 90px;
            right: 10px;
        }
    </style>
</head>
<body>
<h1>Welcome to the Main Page</h1>

<div class="username">
    <br>
    <h2><span th:text="${user.userName}"></span></h2>
</div>
<br>
<div class="config-button">
    <button onclick="window.location.href='/configurationPage'">Configuration</button>
</div>
<br>
<div class="logout-button">
    <button onclick="window.location.href='/logout'">Log Out</button>
</div>

<div>
    <h2>Services:</h2>
    <ul>
        <li><a href="/investment">Equity and Investment Analysis</a></li>
        <li><a href="/budgetAndForecast">Budget & Forecast</a></li>
        <li><a href="/transactionCategory">Transaction Category</a></li>
    </ul>
</div>

</body>
</html>