<!DOCTYPE html>
<html>
<head>
    <title>Password Recovery</title>
</head>
<body>
<h1>Password Recovery</h1>
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<form action="/resetPassword" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="personalId">Personal ID:</label>
    <input type="text" id="personalId" name="personalId" required><br><br>

    <input type="submit" value="Reset Password">
</form>
<br>
<div th:if="${password}" style="color: black;">
    <p th:text="${password}"></p>
</div>
<br>
<button onclick="window.location.href='/loginPage'">Login</button>
<button onclick="window.location.href='/'">Home</button>
</body>
</html>